* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://www.xtrafondos.com/wallpaper/5120x2881/8535-montanas-bajo-cielo-verde.html');
  }
  

 
      body {
        background-image: url('portada.jpg');
       
      }
    
 
 

  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1fc580;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1fc580;
    border: none;
    padding: 12px 80px;
    color: white;
    margin: 20px 20px;
    font-size: 20px;
  }
 @media screen and (max-width:900px){
    

  .form-register {
    width: 200px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 11px;
    margin-bottom: 10px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 8px;
    border: 1px solid #1fc580;
    font-family: 'calibri';
    font-size: 9px;
    color: white;
  }
  
  .form-register p {
    height: 20px;
    text-align: center;
    font-size: 9px;
    line-height: 20px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1fc580;
    border: none;
    padding: 9px 40px;
    color: white;
    margin: 10px 10px;
    font-size: 10px;
  }

@media screen and (max-width:500px){
    
   
  .form-register {
    width: 200px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 11px;
    margin-bottom: 10px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 8px;
    border: 1px solid #1fc580;
    font-family: 'calibri';
    font-size: 9px;
    color: white;
  }
  
  .form-register p {
    height: 20px;
    text-align: center;
    font-size: 9px;
    line-height: 20px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1fc580;
    border: none;
    padding: 9px 40px;
    color: white;
    margin: 10px 10px;
    font-size: 10px;
  }
